/*!
* markdown.css v2.4.0 (https://git.io/markdown.css)
* Copyright (c) 2018 なつき.
* Licensed under BSD-2-Clause (https://github.com/ntkme/markdown.css/blob/master/LICENSE)
*/

@media all {
  body {
    /* padding: 0; */
    margin-right: auto;
    margin-left: auto;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 400;
    line-height: 1.61803398874989485em
  }
  body p, body h1, body h2, body h3, body h4, body h5, body h6, body blockquote, body ul, body ol, body li, body pre, body code {
    /* padding: 0; */
    margin: 0;
    font-size: 100%;
    border: none
  }
  /* body h1::before, body h2::before, body h3::before, body h4::before, body h5::before, body h6::before, body blockquote::before, body li::before {
  white-space: nowrap
  } */
  body p, body h1, body h2, body h3, body h4, body h5, body h6, body blockquote, body ul, body ol, body>pre, body blockquote>pre, body hr, body img, body video {
    margin-top: 1em;
    margin-bottom: 1em
  }
  body li>ol, body li>ul {
    margin-top: 0;
    margin-bottom: 0
  }
  /* body h1::before {
  content: "#\2007"
}
body h2::before {
content: "##\2007"
}
body h3::before {
content: "###\2007"
}
body h4::before {
content: "####\2007"
}
body h5::before {
content: "#####\2007"
}
body h6::before {
content: "######\2007"
} */
body h1, body h2{
  font-weight: 700
}
body h3, body h4, body h5, body h6 {
  font-weight: 400
}
body h2, body h4, body h6 {
  font-style: italic
}
/* body h2::before, body h4::before, body h6::before {
font-style: normal
} */
body blockquote {
  position: relative;
  left: 1.2em;
  left: 2ch;
  margin-right: 1.2em;
  margin-right: 2ch
}
/* body blockquote::before {
position: absolute;
right: 100%;
content: "\203a\2007"
}
body blockquote::after {
content: "";
content: none
} */
/* body ul, body ol {
list-style-type: none
} */
/* body ul>li, body ol>li {
position: relative
} */
/* body ul>li::before, body ol>li::before {
position: absolute;
right: 100%
}
body ul>li::before {
content: "\2013\2007"
} */
body ul>li {
  /* left: 1.2em;
  left: 2ch; */
  margin-right: 1.2em;
  margin-right: 2ch
}
body ol {
  counter-reset: markdown-ol-li
}
body {
  counter-reset: section;
}

h1 {
  counter-reset: subsection;
}
h2 {
  counter-reset: subsubsection;
}

h1::before {
  counter-increment: section;
  content: counter(section) ". ";
}

h2::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}
h3::before {
  counter-increment: subsubsection;
  content: counter(section) "." counter(subsection) "." counter(subsubsection)" ";
}
/* body ol>li::before {
content: counter(markdown-ol-li) ". ";
counter-increment: markdown-ol-li
} */
body ol>li {
  /* left: 1.8em;
  left: 3ch; */
  margin-right: 1.8em;
  margin-right: 3ch
}
body ol>li:nth-child(n+10) {
  margin-left: .6em;
  margin-left: 1ch
}
body ol>li:nth-child(n+100) {
  margin-left: 1.2em;
  margin-left: 2ch
}
body ol>li:nth-child(n+1000) {
  margin-left: 1.8em;
  margin-left: 3ch
}
body hr {
  height: 0;
  border: none;
  border-top: 1px dashed
}
body em, body del {
  position: relative
}
/* body em::before, body em::after, body del::before, body del::after {
position: absolute
}
body em::before, body del::before {
right: 100%
} */
body em {
  margin-right: .6em;
  margin-right: 1ch;
  margin-left: .6em;
  margin-left: 1ch;
  /* border-bottom: 1px solid */
}
/* body em::before, body em::after {
content: "\2007\0331"
} */
body del {
  margin-right: 1.2em;
  margin-right: 2ch;
  margin-left: 1.2em;
  margin-left: 2ch
}
/* body del::before, body del::after {
content: "\2007\0334\2007\0334"
} */
body strong {
  font-weight: 700
}
/* body strong::before, body strong::after {
content: "**"
} */
body code {
  word-wrap: break-word
}
/* body code::before, body code::after {
content: "`"
} */
body pre {
  line-height: normal
}
body pre code {
  word-wrap: normal
}
/* body pre code::before, body pre code::after {
content: "";
content: none
} */
body>pre, body blockquote>pre {
  margin-right: 2.4em;
  margin-right: 4ch;
  margin-left: 2.4em;
  margin-left: 4ch
}
body img, body video {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto
}
}
h1, h2, h3, h4, h5, h6{
  font-weight: 800 !important;
}

@media screen and (min-height: 36em), not screen {
  body {
    line-height: 2em
  }
}

@media screen and (min-width: 62em), not screen {
  body {
    padding: 0 4.8em;
    padding: 0 8ch
  }
  body>h1, body>h2, body>h3, body>h4, body>h5, body>h6 {
    /* position: relative */
  }
  /* body>h1::before, body>h2::before, body>h3::before, body>h4::before, body>h5::before, body>h6::before {
  position: absolute;
  right: 100%
  } */
  body ol>li:nth-child(n) {
    /* margin-left: 0 */
  }
  body>ul>li, body>ol>li {
    /* left: 0; */
    margin-right: 0
  }
}

@media print {
  body a {
    border: none
  }
  /* body a[href]::before {
  content: "["
}
body a[href]::after {
content: "](" attr(href) ")"
}
body a[href^="data:"]::before, body a[href^="data:"]::after, body a[href^="javascript:"]::before, body a[href^="javascript:"]::after, body a[href^="#"]::before, body a[href^="#"]::after {
content: "";
content: none
}*/
}
ul{
  padding-left: 0px;
}
ul  ul{
  padding-left: 20px !important;
}
li{
  list-style: none;
  /* margin-left: -17px !important; */
}
li:before {
    content: "•"; /* Insert content that looks like bullets */
    color: #4E5180; /* Or a color you prefer */
    padding-right: 10px;
}
body h4{
  padding-left: 5px;
  right: 0px;
  background-color: #4E5180;
  color: white;
}
